---
import "../styles/global.css";
// Component Imports
import Button from "../components/Button.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>mKumaran</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <Button>Tailwind Button in Astro!</Button>
      <a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
      <a href="/arrays/01-intro" class="p-4 underline">array intro</a>
      <a href="/arrays/02-sample" class="p-4 underline">2 - sample</a>
      <a href="/arrays/03-mdonly" class="p-4 underline">3 - md only</a>
    </div>
  </body>
</html>
