---
import Prose from "@/components/Prose.astro";
import BaseLayout from "./main.astro";
import NavTree2 from "@/components/nav2/nav-tree2";
const props = Astro.props;
const { pathname } = Astro.url;
---

<BaseLayout {...props}>
  <NavTree2 activeUrl={pathname} client:load>
    <div class="ml-4 w-full">
      <h1 class="scroll-m-20 mb-10 text-4xl font-extrabold tracking-tight lg:text-5xl text-orange-600">
        {props.content.title}
      </h1>

      <Prose client:load>
        <slot />
      </Prose>
    </div>
  </NavTree2>
</BaseLayout>
