---
import Prose from "@/components/Prose.astro";
import NavTree from "@/components/nav/nav-tree";
import BaseLayout from "./main.astro";
const props = Astro.props;
const { pathname } = Astro.url;
---

<BaseLayout {...props}>
  <NavTree activeUrl={pathname} client:load>
    <h1 class="scroll-m-20 mb-10 text-4xl font-extrabold tracking-tight lg:text-5xl">
      {props.content.title}
    </h1>
    <Prose>
      <slot />
    </Prose>
  </NavTree>
</BaseLayout>
